table {
  border-collapse: collapse;
  border-width: 0px;
  width: 35%;
}

thead {
  background-color: darkgrey;
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: darkgrey;
}

td {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 10px;
}

.link {
  margin: 10px;
  font-size: 2rem;
  color: white;
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .nav {
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }

  .link {
    margin: 20px;
  }
}