table {
  width: 100vw;
}

td,
th {
  padding-left: 30px;
  padding-right: 30px;
}

input[type="text"] {
  width: 200px;
}

.list {
  width: 200px;
}

.operationList,
input[type="number"] {
  width: 65px;
  display: inline-block;
}

.icon {
  width: 2rem;
  margin: 0px 10px;
}

.numericQueryHeader {
  width: 11%;
}

#separator {
  background-color: black;
  max-width: 100vw;
  height: 1px;
}
