html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-color: red;
  color: white;
  width: 36rem;
  height: 9rem;
  font-size: 3rem;
}

#logo {
  max-width: 30vw;
  max-height: 30vh;
}

@media screen and (max-width: 890px) {
  #logo {
    max-width: 50vw;
    max-height: 50vh;
  }
}
