@media (prefers-color-scheme: dark) {
  @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro");

  body {
    background-color: rgba(24, 26, 27, 255);
    color: rgba(209, 209, 209, 255);
  }

  form {
    color: rgba(209, 209, 209, 255);
  }

  input,
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="checkbox"],
  input[type="datetime-local"],
  input[type="date"] {
    color: rgba(209, 209, 209, 255);
    border-color: rgba(51, 56, 58, 255);
  }

  #update-icon {
    background: url("../images/update_icon_dark.png");
  }

  .list,
  select {
    background-image: url("../images/arrow_dark.png");
    background-size: 14px;
    background-position: 93%;
  }

  .list:focus,
  select:focus {
    background-image: url("../images/arrow_dark_focus.png");
    background-size: 14px;
    background-position: 93%;
  }
}

input:focus,
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus {
  border-color: red;
  color: red;
  background-image: red;
}

.button,
button[type="submit"],
input[type="submit"] {
  background-color: red;
  border-color: red;
  color: white;
}

#clear-button {
  color: red;
}
